

.body {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background: #646c77;
  position: relative;
}
.check-button{
  overflow: hidden;
  position: relative;
}
.bg-black-lighten-1{
  background-color: #424953;
}
.bg-black-lighten-2{
  background-color: #545e6d;
}
.cl-white{
  color: #ffffff;
}

header {
  display: block;
  position: relative;
  transition: transform 0.5s cubic-bezier(.694, .0482, .335, 1);
  transform: translateY(calc(50vh - 50%));
}

.search-form {
  height: 12vh;
  display: block;
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search {
  flex-grow: 1;
  background: #fff;
  border: 5px solid #424953;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  font-family: inherit;
  font-size: 16px;
  color: #555;
  border-radius: 6px 0 0 6px;
  box-shadow: inset 2px 2px 5px rgba(112, 128, 144, 0.8);
  outline: 0;

}

.submit-btn {
  position: relative;
  width: 100px;
  flex-grow: 0;
  margin-left: 0;
  background-color: #424953;
  border: 5px solid #424953;
  border-left: 0;
  font-family: inherit;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  height: 50px;
  line-height: 40px;
  text-decoration: none;
  border-radius: 0 6px 6px 0;
  transition: background-color 0.3s;
  cursor: pointer;
}

.submit-btn::before {
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f002";
}

.submit-btn:hover {
  background-color: #545e6d;
}

.submit-btn:focus {
  outline: 0;
}

.search-form.loading .submit-btn::before {
  content: "\f110";
  animation: spin 2s infinite linear;
}

main {
  display: block;
  background-color: #e5e8ec;
  box-shadow: inset 0px 0px 8px 2px rgba(0,0,0,0.3);
  height: 88vh;
  transition: transform 0.5s cubic-bezier(.694, .0482, .335, 1);
  transform: translateY(100%);
  overflow: auto;
}

body.show header,
body.show main,
body.show .search-results {
  transform: translateY(0);
}

body.show .search-results {
  opacity: 1;
}

.search-results {
  width: 70%;
  margin: 40px auto;
  opacity: 0;
  transform: translateY(50px);
  transition: transform 0.5s cubic-bezier(.694, .0482, .335, 1), opacity 0.5s cubic-bezier(.694, .0482, .335, 1);
  transition-delay: 0.3s;
}

.search-result {
  background-color: #fff;
  min-height: 100px !important;
  color: #666;
  margin-bottom: 10px;
  padding: 5px;
}
.search-result-image{
  max-height: 200px !important;
}

.search-result a {
  color: #506cc4;
  text-decoration: none;
}

.search-result a:hover {
  text-decoration: underline;
}

.search-result:last-child {
  margin-bottom: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@media only screen and (max-width: 700px) {

  .search-form,
  .search-results {
    width: 90%;
  }
}

.box h3{
  text-align:center;
  position:relative;
  top:80px;
}
.box {
  width:70%;
  height:200px;
  background:#FFF;
  margin:40px auto;
}
